
#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .read-the-docs {
    color: #888;
  }
  
  nav {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    transition: .3s;
  }
  
  .bg-lights {
    background-color: var(--lightMode);
  }
  
body {
    --fs-1: calc(1.375rem + 1.5vw);
    --fs-2: calc(1.325rem + .9vw);
    --fs-4: calc(1.275rem + .3vw);
    --fs-6: 1rem;

    --darkMode: rgb(33, 37, 41);
    --darkCardMode: rgb(27, 31, 35);
    --darkModeColor: white;
    
    --lightMode: #eff0f1;
    --lightCardMode: #f7f7f7;
    --lightModeColor: #212529;

    background-color: var(--darkMode);
    transition: .3s;
    /* height: 2000px; */
}
.hero {
    box-shadow: 1px 1px 100px black;
}
.contents .container-lg {
    width: 100%;
    text-align: start;
}
.contents .container-lg h1 {
    font-size: var(--fs-1);
}
.contents .container-lg h2 {
    font-size: var(--fs-2);
}
.contents .container-lg p {
    font-size: var(--fs-4);
    width: 50%;
}
.contents img {
    width: 100%;
}


@media (max-width: 1023px) {
    .contents {
        overflow: hidden;
    }
    .contents .container-lg {
        padding-left: 3rem;
    }
    .contents img {
        width: 1023px;
    }
    .contents .container-lg h1 {
        font-size: var(--fs-2);
    }
    .contents .container-lg h2 {
        font-size: var(--fs-4);
    }
    .contents .container-lg p {
        font-size: var(--fs-6);
    }
}
@media (max-width: 610px) {
    .contents .container-lg {
        text-align: center;
    }
    .contents .container-lg {
        padding-left: 0;
    }
    .contents .container-lg p {
        width: 100%;
    }
}

.card {
    /* padding: 2em; */
  }
  
.card {
    width: 16rem;
    transition: all .3s ease-in-out, transform 1s ease-in-out;
    color: var(--darkModeColor);
    background-color: var(--darkCardMode);
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
.card .card-body {
    padding: 1.5em;
}

.changeMode {
    top: 0px;
    right: 100px;
    background-color: rgb(202, 202, 202);
    height: 40px;
    width: 75px;
    border-radius: 25px;
    border: 1px solid rgb(128, 128, 128);
    transition: .3s;
    cursor: pointer;
}

.circle {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(78, 78, 78);
    border-radius: 50%;
    border: 1px solid rgb(54, 54, 54);
    transition: .3s;
}

.footer {
    transition: .3s;
}

.cards {
    overflow-x:clip;
}

.copyright {
    font-size: .75rem;
}

.description, .description * {
    transition: all .3s;
}